@model PernikComputers.Models.MonitorCreateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Edit Monitor</h1>
<hr />
<div>
    <form asp-action="EditMonitor" class="text-center">
        @await Html.PartialAsync("PartialViews/_MonitorPartialView.cshtml", Model)
        <div class="form-group mt-4">
            <button type="submit" class="btn-radius btn btn-outline-primary btn-lg">EDIT</button>
            <a asp-action="AllTable" asp-controller="Products" class="mt-1 ml-5 d-block">Back to products</a>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
