@model PernikComputers.Models.MemoryCreateViewModel

<div>
    <div class="d-inline-block w-130">
        <label asp-for="Barcode" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="Barcode" class="form-control" />
    </div>
    <p><span asp-validation-for="Barcode" class="text-danger"></span></p>
</div>
<div>
    <div class="d-inline-block w-130">
        <label asp-for="Manufacturer" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="Manufacturer" class="form-control" />
    </div>
    <p><span asp-validation-for="Manufacturer" class="text-danger"></span></p>
</div>
<div>
    <div class="d-inline-block w-130">
        <label asp-for="Model" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="Model" class="form-control" />
    </div>
    <p><span asp-validation-for="Model" class="text-danger"></span></p>
</div>
<div>
    <div class="d-inline-block w-130">
        <label asp-for="Price" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="Price" class="form-control" />
    </div>
    <p><span asp-validation-for="Price" class="text-danger"></span></p>
</div>
<div>
    <div class="d-inline-block w-130">
        <label asp-for="Warranty" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="Warranty" class="form-control" />
    </div>
    <p><span asp-validation-for="Warranty" class="text-danger"></span></p>
</div>
<div>
    <div class="d-inline-block w-130">
        <label asp-for="MemoryType" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <select asp-for="MemoryType" class="form-control" asp-items="Html.GetEnumSelectList<MemoryType>()"></select>
    </div>
    <p><span asp-validation-for="MemoryType" class="text-danger"></span></p>
</div>
<div>
    <div class="d-inline-block w-130">
        <label asp-for="FormFactor" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="FormFactor" class="form-control" />
    </div>
    <p><span asp-validation-for="FormFactor" class="text-danger"></span></p>
</div>
<div>
    <div class="d-inline-block w-130">
        <label asp-for="Capacity" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="Capacity" class="form-control" />
    </div>
    <p><span asp-validation-for="Capacity" class="text-danger"></span></p>
</div>
<div>
    <div class="d-inline-block w-130 align-middle">
        <label asp-for="ReadSpeed" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200 align-middle">
        <input asp-for="ReadSpeed" class="form-control" />
    </div>
    <p><span asp-validation-for="ReadSpeed" class="text-danger"></span></p>
</div>
<div>
    <div class="d-inline-block w-130">
        <label asp-for="WriteSpeed" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="WriteSpeed" class="form-control" />
    </div>
    <p><span asp-validation-for="WriteSpeed" class="text-danger"></span></p>
</div>

<div>
    <div class="d-inline-block w-130">
        <label asp-for="Quantity" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="Quantity" class="form-control" />
    </div>
    <p><span asp-validation-for="Quantity" class="text-danger"></span></p>
</div>
<div>
    <div class="d-inline-block w-130">
        <label asp-for="Image" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="Image" class="form-control" />
    </div>
    <p><span asp-validation-for="Image" class="text-danger"></span></p>
</div>