@model PernikComputers.Models.PowerSupplyCreateViewModel

<div>
    <div class="d-inline-block w-130">
        <label asp-for="Barcode" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="Barcode" class="form-control" />
    </div>
    <p><span asp-validation-for="Barcode" class="text-danger"></span></p>
</div>
<div>
    <div class="d-inline-block w-130">
        <label asp-for="Manufacturer" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="Manufacturer" class="form-control" />
    </div>
    <p><span asp-validation-for="Manufacturer" class="text-danger"></span></p>
</div>
<div>
    <div class="d-inline-block w-130">
        <label asp-for="Model" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="Model" class="form-control" />
    </div>
    <p><span asp-validation-for="Model" class="text-danger"></span></p>
</div>
<div>
    <div class="d-inline-block w-130">
        <label asp-for="Price" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="Price" class="form-control" />
    </div>
    <p><span asp-validation-for="Price" class="text-danger"></span></p>
</div>
<div>
    <div class="d-inline-block w-130">
        <label asp-for="Warranty" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="Warranty" class="form-control" />
    </div>
    <p><span asp-validation-for="Warranty" class="text-danger"></span></p>
</div>
<div>
    <div class="d-inline-block w-130">
        <label asp-for="Power" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="Power" class="form-control" />
    </div>
    <p><span asp-validation-for="Power" class="text-danger"></span></p>
</div>
<div>
    <div class="d-inline-block w-130">
        <label asp-for="FormFactor" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="FormFactor" class="form-control" />
    </div>
    <p><span asp-validation-for="FormFactor" class="text-danger"></span></p>
</div>
<div>
    <div class="d-inline-block w-130">
        <label asp-for="Efficiency" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="Efficiency" class="form-control" />
    </div>
    <p><span asp-validation-for="Efficiency" class="text-danger"></span></p>
</div>
<div>
    <div class="d-inline-block w-130">
        <label asp-for="Quantity" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="Quantity" class="form-control" />
    </div>
    <p><span asp-validation-for="Quantity" class="text-danger"></span></p>
</div>
<div>
    <div class="d-inline-block w-130">
        <label asp-for="Image" class="font-weight-bold"></label>
    </div>
    <div class="d-inline-block w-200">
        <input asp-for="Image" class="form-control" />
    </div>
    <p><span asp-validation-for="Image" class="text-danger"></span></p>
</div>