@model PernikComputers.Models.OrderDetailsViewModel

@{
    ViewData["Title"] = "Edit Order";
}

<h1 class="text-center">Edit Order</h1>
<hr />
<div class="w-fit-content m-auto">
    <form asp-action="Edit" asp-controller="Orders" method="post">
        <div class="mb-3">
            <div class="d-inline-block w-130">
                <label class="font-weight-bold">Product</label>
            </div>
            <div class="d-inline-block w-200">
                <input class="form-control" value="@Model.Category @Model.Manufacturer @Model.Model" readonly />
            </div>
        </div>
        <div class="mb-3">
            <div class="d-inline-block w-130">
                <label class="font-weight-bold">User</label>
            </div>
            <div class="d-inline-block w-200">
                <input class="form-control" value=" @Model.CustomerUsername" readonly />
            </div>
        </div>

        <div>
            <div class="d-inline-block w-130">
                <label asp-for="Status" class="font-weight-bold"></label>
            </div>
            <div class="d-inline-block w-200">
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<OrderStatus>()"></select>
            </div>
            <p><span asp-validation-for="Status" class="text-danger"></span></p>
        </div>
        <div>
            <div class="d-inline-block w-130 align-top">
                <label asp-for="Notes" class="font-weight-bold"></label>
            </div>
            <div class="d-inline-block w-200">
                <textarea asp-for="Notes" class="form-control" maxlength="150" rows="3" style="max-height: 200px"></textarea>
            </div>
            <p><span asp-validation-for="Notes" class="text-danger"></span></p>
        </div>
        <div class="form-group mt-4">
            <button type="submit" class="btn-radius btn btn-outline-primary btn-lg m-0">EDIT</button>
        </div>
    </form>
</div>