<h1 class="text-center">About Us</h1>
<hr />
<div class="text-center">
    <div class=" col-4 d-inline-block">
    <p>
        This is the official website of PernikComputers. We offer a wide variety of computers, components, peripherals and accessories. Each user can create an account to order a product. If you have any questions, you can <a asp-action="Contacts">contact us.</a>
    </p>
</div>
<div class=" col-6 d-inline-block">
    <img src="~/Images/team.png" class="rounded" width="400">
</div>
</div>