<div>
    <div class="text-center">
        <h2>You can find us here</h2>
        <hr />

        <ul class="navbar list-unstyled m-0 justify-content-around">
            <li class="nav-item">
                <input type="radio" id="shop1" name="shop" onclick="visitShop(shop1)" checked>
                <label for="shop1">Pernik Center</label>
            </li>
            <li class="nav-item">
                <input type="radio" id="shop2" name="shop" onclick="visitShop(shop2)">
                <label for="shop2">Pernik Iztok</label>
            </li>
            <li class="nav-item">
                <input type="radio" id="shop3" name="shop" onclick="visitShop(shop3)">
                <label for="shop3">Pernik Teva</label>
            </li>
        </ul>
        
        <div id="map" class="rows">
            <iframe class="col-12 rounded-2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2936.550446046061!2d23.030714314841394!3d42.6072807274467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aacac3bbc30045%3A0x1282864432d70ccb!2z0J_QnNCTICLQpdGA0LjRgdGC0L4g0KHQvNC40YDQvdC10L3RgdC60Lgi!5e0!3m2!1sen!2sbg!4v1650729965667!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>