<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PernikComputers</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand font-weight-bolder" asp-area="" asp-controller="Home" asp-action="Index">PERNIK <i class="fa-solid fa-computer" style="color: #2196f3"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                      <li>
                           <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">About us</a>
                      </li>
                      <li class="pointer nav-item active">
                          <div class="dropdown show">
                               <a class="nav-link active" href="#"
                                       id="dropdownMenuLink"
                                       data-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                   Products <i class="fa-solid fa-arrow-down-short-wide"></i>
                               </a>

                               <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                           
                                   <li>
                                       <a class="dropdown-item">
                                           Components <i class="fa-solid fa-caret-right"></i>
                                       </a>
                                       <ul class="dropdown-menu dropdown-submenu">
                                           <li class="nav-item">
                                               <a class="dropdown-item" asp-area="" asp-controller="Components" asp-action="AllProcessors">Processors</a>
                                           </li>
                                             <li class="nav-item">
                                                <a class="dropdown-item" asp-area="" asp-controller="Components" asp-action="AllMotherboards">Motherboards</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="dropdown-item" asp-area="" asp-controller="Components" asp-action="AllRams">Rams</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="dropdown-item" asp-area="" asp-controller="Components" asp-action="AllVideoCards">Video Cards</a>
                                            </li>
                                              <li class="nav-item">
                                                <a class="dropdown-item" asp-area="" asp-controller="Components" asp-action="AllPowerSupplies">Power Supplies</a>
                                            </li>
                                              <li class="nav-item">
                                                <a class="dropdown-item" asp-area="" asp-controller="Components" asp-action="AllMemories">Memories</a>
                                            </li>
                                              <li class="nav-item">
                                                <a class="dropdown-item" asp-area="" asp-controller="Components" asp-action="AllComputerCases">Computer Cases</a>
                                            </li>
                                       </ul>
                                   </li>
                                   <li>
                                       <a class="dropdown-item">
                                           Computers <i class="fa-solid fa-caret-right"></i>
                                       </a>
                                       <ul class="dropdown-menu dropdown-submenu">
                                           <li>
                                               <a class="dropdown-item" asp-area="" asp-controller="Computers" asp-action="All">Computers</a>
                                           </li>
                                               <li>
                                                   <a class="dropdown-item" href="#">d2ddd</a>
                                               </li>
                                               <li>
                                                   <a class="dropdown-item" href="#">dd3dd</a>
                                               </li>

                                       </ul>
                                   </li>
                               </ul>
                           </div>
                      </li>
                       <li>
                           <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Promotions</a>
                      </li>
                                             <li>
                           <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Contacts</a>
                      </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="max-width: 1500px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - PernikComputers - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/2ca93d86e5.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/7c0ea4aaab.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
