@model PernikComputers.Models.ComputerCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create Computer</h1>

<hr />
<div class="text-center">
    <form asp-action="Create" asp-controller="Computers" method="post">

        <div>
            <div class="d-inline-block w-130">
                <label asp-for="Barcode" class="font-weight-bold"></label>
            </div>
            <div class="d-inline-block w-200">
                <input asp-for="Barcode" class="form-control" />
            </div>
            <p><span asp-validation-for="Barcode" class="text-danger"></span></p>
        </div>
        <div>
            <div class="d-inline-block w-130">
                <label asp-for="Manufacturer" class="font-weight-bold"></label>
            </div>
            <div class="d-inline-block w-200">
                <input asp-for="Manufacturer" class="form-control" />
            </div>
            <p><span asp-validation-for="Manufacturer" class="text-danger"></span></p>
        </div>
        <div>
            <div class="d-inline-block w-130">
                <label asp-for="Model" class="font-weight-bold"></label>
            </div>
            <div class="d-inline-block w-200">
                <input asp-for="Model" class="form-control" />
            </div>
            <p><span asp-validation-for="Model" class="text-danger"></span></p>
        </div>
        @*<div>
                <div class="d-inline-block w-130">
                    <label asp-for="Price" class="font-weight-bold"></label>
                </div>
                <div class="d-inline-block w-200">
                    <input asp-for="Price" class="form-control" />
                </div>
                <p><span asp-validation-for="Price" class="text-danger"></span></p>
            </div>*@
        <div>
            <div class="d-inline-block w-130">
                <label asp-for="Warranty" class="font-weight-bold"></label>
            </div>
            <div class="d-inline-block w-200">
                <input asp-for="Warranty" class="form-control" />
            </div>
            <p><span asp-validation-for="Warranty" class="text-danger"></span></p>
        </div>
        <div>
            <div class="d-inline-block w-130">
                <label asp-for="ProcessorId" class="font-weight-bold"></label>
            </div>
            <div class="d-inline-block w-200">
                <select asp-for="ProcessorId" class="form-control" asp-items="ViewBag.ProcessorId" onchange="SelectMotherboards(allProcessors.$values, allMotherboards.$values)"></select>
            </div>
            <p><span asp-validation-for="ProcessorId" class="text-danger"></span></p>
        </div>
        <div>
            <div class="d-inline-block w-130">
                <label asp-for="MotherboardId" class="font-weight-bold"></label>
            </div>
            <div class="d-inline-block w-200">
                <select asp-for="MotherboardId" class="form-control" onchange="SelectRams(allMotherboards.$values, allRams.$values)"></select>
            </div>
            <p><span asp-validation-for="MotherboardId" class="text-danger"></span></p>
        </div>
        <div>
            <div class="d-inline-block w-130">
                <label asp-for="RamId" class="font-weight-bold"></label>
            </div>
            <div class="d-inline-block w-200">
                <select asp-for="RamId" class="form-control"></select>
            </div>
            <p><span asp-validation-for="RamId" class="text-danger"></span></p>
        </div>
        <div>
            <div class="d-inline-block w-130 align-middle">
                <label asp-for="VideoCardId" class="font-weight-bold"></label>
            </div>
            <div class="d-inline-block w-200 align-middle">
                <select asp-for="VideoCardId" class="form-control" asp-items="ViewBag.VideoCardId"></select>
            </div>
            <p><span asp-validation-for="VideoCardId" class="text-danger"></span></p>
        </div>
        <div>
            <div class="d-inline-block w-130">
                <label asp-for="PowerSupplyId" class="font-weight-bold"></label>
            </div>
            <div class="d-inline-block w-200">
                <select asp-for="PowerSupplyId" class="form-control" asp-items="ViewBag.PowerSupplyId"></select>
            </div>
            <p><span asp-validation-for="PowerSupplyId" class="text-danger"></span></p>
        </div>
        <div>
            <div class="d-inline-block w-130">
                <label asp-for="MemoryId" class="font-weight-bold"></label>
            </div>
            <div class="d-inline-block w-200">
                <select asp-for="MemoryId" class="form-control" asp-items="ViewBag.MemoryId"></select>
            </div>
            <p><span asp-validation-for="MemoryId" class="text-danger"></span></p>
        </div>
        <div>
            <div class="d-inline-block w-130">
                <label asp-for="ComputerCaseId" class="font-weight-bold"></label>
            </div>
            <div class="d-inline-block w-200">
                <select asp-for="ComputerCaseId" class="form-control" asp-items="ViewBag.ComputerCaseId"></select>
            </div>
            <p><span asp-validation-for="ComputerCaseId" class="text-danger"></span></p>
        </div>
        <div>
            <div class="d-inline-block w-130">
                <label asp-for="Quantity" class="font-weight-bold"></label>
            </div>
            <div class="d-inline-block w-200">
                <input asp-for="Quantity" class="form-control" />
            </div>
            <p><span asp-validation-for="Quantity" class="text-danger"></span></p>
        </div>
        @*<div>
                <div class="d-inline-block w-130">
                    <label asp-for="Image" class="font-weight-bold"></label>
                </div>
                <div class="d-inline-block w-200">
                    <input asp-for="Image" class="form-control" />
                </div>
                <p><span asp-validation-for="Image" class="text-danger"></span></p>
            </div>*@
        <div class="form-group mt-4">
            <button type="submit" class="btn-radius btn btn-outline-primary btn-lg">CREATE</button>
            <a asp-action="AllTable" asp-controller="Products" class="mt-1 ml-4 d-block">Back to products</a>
        </div>
    </form>
</div>


<script>
    let allProcessors = @Json.Serialize(ViewBag.Processors);
    let allMotherboards = @Json.Serialize(ViewBag.Motherboards);
    let allRams = @Json.Serialize(ViewBag.Rams);

    SelectMotherboards(allProcessors.$values, allMotherboards.$values)
    SelectRams(allMotherboards.$values, allRams.$values)
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
