@model PernikComputers.Models.ComputerCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create Computer</h1>

<hr />
<div class="text-center">
    <form asp-action="Create" asp-controller="Computers" method="post">
        @await Html.PartialAsync("~/Views/Computers/_ProductInfoPartialView.cshtml")
        <div class="form-group mt-4">
            <button type="submit" class="btn-radius btn btn-outline-primary btn-lg">CREATE</button>
            <a asp-action="AllTable" asp-controller="Products" class="mt-1 ml-4 d-block">Back to products</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
