<div>
    <div class="b-inline-top col-3" id="filter-left">
        @await Html.PartialAsync("~/Views/Clients/_ManageLayoutPartialView.cshtml")
    </div>
    <div class="b-inline-top col-md-8" id="products">
        <a class="a-primary btn btn-outline-primary btn-lg">All clients - 5</a>
        <a class="a-primary btn btn-outline-primary btn-lg">All employees - 0</a>
        <a class="a-primary btn btn-outline-primary btn-lg">All orders - 32</a>
        <a class="a-primary btn btn-outline-primary btn-lg">All products - 20</a>
        <a class="a-primary btn btn-outline-primary btn-lg">Rejected orders - 0</a>
    </div>
</div>