@model PernikComputers.Models.EmployeeCreateViewModel

@{
    ViewData["Title"] = "CreateEmployee";
}


<div class="text-center">
    <div class="d-lg-inline-block align-top col-8" style="max-width: 419px">
        <h1 class="text-center mb-3">Create Employee</h1>
        <form asp-action="Create" onsubmit="return isUsernameFree(users)">
            <div class="mb-2 icon-div-mw-3">
                <span><i class="fa-solid fa-circle-user icon-width"></i></span>
                <div class="d-inline-block icon-div-width-4">
                    <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                </div>
                <div class="d-inline-block icon-div-width-4">
                    <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                </div>
            </div>
            <span asp-validation-for="FirstName" class="text-danger icon-div-width-4"></span>
            <span asp-validation-for="LastName" class="text-danger icon-div-width-4"></span>
            <div class="mb-2 icon-div-mw-3">
                <span><i class="fa-solid fa-phone icon-width"></i></span>
                <div class="d-inline-block icon-div-width-9">
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
                </div>
            </div>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            <div class="mb-2 icon-div-mw-3">
                <span><i class="fa-solid fa-circle-plus icon-width"></i></span>
                <div class="d-inline-block icon-div-width-9">
                    <input asp-for="JobTitle" class="form-control" placeholder="JobTitle" />
                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                </div>
            </div>
            <span asp-validation-for="JobTitle" class="text-danger"></span>
            <div class="mb-2 icon-div-mw-3">
                <span><i class="fa-solid fa-envelope icon-width"></i></span>
                <div class="d-inline-block icon-div-width-9">
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                </div>
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
            <div class="mb-2 icon-div-mw-3">
                <span><i class="fa-solid fa-address-card icon-width"></i></span>
                <div class="d-inline-block icon-div-width-9">
                    <input asp-for="Username" class="form-control" placeholder="Username" id="username" />
                </div>
            </div>
            <span asp-validation-for="Username" class="text-danger"></span>
            <span class="text-danger d-none" id="usernameEror"></span>
            <div class="form-group mt-4">
                <button type="submit" class="btn-radius btn btn-outline-primary btn-lg">CREATE</button>
            </div>
        </form>
    </div>
    <div class="d-inline align-top col-3">
        <img src="~/Images/registerImage.webp" width="400" height="400" />
    </div>
</div>

<script>
    let users = @Json.Serialize(ViewBag.Users);
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
