@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <img src="~/Images/computers.jpg" class="img-fluid" />
    <div class="text-block col-3">
        <h5 class="some-paragraph" style="color: white; margin-bottom: 20px">See our promotions:</h5>
        <a href="#" class="some-paragraph btn btn-outline-light">Promotions</a>
    </div>
</div>
<style>
    .text-block {
        position: absolute;
        top: 15vw;
        left: 8vw;
        padding: 10px 15px 6px 15px;
    }
    .some-paragraph {
        font-size: 2vw;
    }
</style>