@{
    ViewData["Title"] = "Home Page";
}

<div style="position: relative">
    <img src="~/Images/computers.jpg" class="img-fluid" />
    <div class="text-block col-3">
        <h5 class="some-paragraph" style="color: white; margin-bottom: 15px">See our promotions:</h5>
        <a asp-controller="Products" asp-action="AllDiscounts" class="some-paragraph btn btn-outline-light">Promotions</a>
    </div>
</div>
<div class="text-center">
    <h3>See Our Products</h3>

    <div class="col-3 d-inline-block">
        <img src="~/Images/computerProduct.webp" width="200" height="200" class="img-fluid"/>
        <p class="font-weight-bolder">Computers</p>
    </div>
    <div class="col-3 d-inline-block">
        <img src="~/Images/processorProduct.webp"  width="200" height="200" class="img-fluid"/>
        <p class="font-weight-bolder">Components</p>
    </div>
    <div class="col-3 d-inline-block">
        <img src="~/Images/keyboardProduct.png"  width="200" height="200" class="img-fluid"/>
        <p class="font-weight-bolder">Periphery</p>
    </div>
    @*<div>
        <img />
        <p>Accessories</p>
    </div>*@
</div>