@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="text-center m-auto">
    <div class="d-inline-block col-8" style="max-width: 419px">
        <h1 class="text-center mb-3">Welcome!</h1>
        <form id="account" method="post">
            <div class="mb-2 icon-div-mw-3">
                <span><i class="fa-solid fa-circle-user icon-width"></i></span>
                <div class="d-inline-block icon-div-width-9">
                    <input asp-for="Input.Username" class="form-control" placeholder="Username" />
                </div>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="mb-2 icon-div-mw-3">
                <span><i class="fa-solid fa-lock icon-width"></i></span>
                <div class="d-inline-block icon-div-width-9">
                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger m-auto" style="width: 220px"></div>
            <div class="mb-2 icon-div-mw-3 text-left" style="margin-left: 32px">
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group mt-4">
                <button type="submit" class="btn-radius btn btn-outline-primary btn-lg">LOGIN</button>
            </div>
            <a asp-controller="Clients" asp-action="Register" style="margin-left: 32px;">Register as new user</a>
        </form>
    </div>
    @*<div class="d-inline-block align-top col-4">
        <img src="~/Images/loginComputer.jpg" width="300" height="200" />
    </div>*@
</div>

@*<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control" />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
